@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


*{
    margin: 0;
    padding: 0;
}





body{
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
}





header{
    padding: 60px;
    
    background-color: black;
    color: #FFFFFF;
    
    text-align: center;
}
header h1{
    font-size: 5em;
    font-family: 'Passion One';
    font-weight: bold;
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}





main p{
    font-family: 'Sriracha';
    font-size: 1.85em;
}
#article-no-parallax > p{
    padding-left: 30px;
}
.p-top{
    padding-top: 50px;
}
.p-bottom{
    padding-bottom: 100px;
}
.p-top-parallax{
    
}
.p-bottom-parallax{

}
.transparent-background{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    padding-left: -30px;
}
.transparent-background p{
    padding: 5px;
}
#article-no-parallax{
    background-color: white;
    color: black;
}
#article-parallax1{
    
}